<div id="<%= dom_id employee %>">
  <div>
    <strong>Name:</strong>
    <%= employee.name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= employee.email %>
  </div>

  <div>
    <strong>Salary base:</strong>
    <%= employee.salary_base %>
  </div>

  <div>
    <strong>Hire date:</strong>
    <%= employee.hire_date %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= employee.status %>
  </div>

</div>
